@{
    ViewData["Title"] = "Home Page";
}

<h1>Danh sách Thư Mục</h1>
<ul>
    @foreach (var folder in ViewBag.Folders)
    {
        <li><a href="@Url.Action("ListFiles", "Home", new { folderName = folder })">@folder</a></li>
    }
</ul>
